.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
  text-transform: uppercase;
}

p {
  margin: 15px auto;
}

span.bold {
  font-weight: bold;
}

.meet-the-team,
.our-services,
.our-clients,
.our-work {
  text-align: center;
}

.background {
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 500px;
}

.slide1 {
  background-image: url("../images/slide1-opt.jpg");
}

.meet-the-team-img {
  width: 100px;
  height: 100px !important;
  border-radius: 50%;
}

.glyphicon-arrow-down {
  color: #fff;
  border: 3px solid white;
  border-radius: 50%;
  padding: 10px;
}

.glyphicon-arrow-down:focus,
.glyphicon-arrow-down:hover {
  color: #fcac45;
  border-color: #fcac45;
}

.carousel {
  position: relative;
  top: 0;
}

#spirit8-banner-img-text {
  color: #fcac45;
}

.about-us-span {
  border-bottom: 5px solid;
  border-color: #fcac45;
}

.top-bottom-buffer {
  margin-top:50px;
  margin-bottom: 50px;
}

ol,
ul {
  list-style-image: url('../images/bullet_point.png');
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 20px;
}

.btn-group-lg>.btn, .btn-lg {
  border: 2px solid;
}

.meet-the-team h1,
.our-clients h1 {
  color: #fff;
}

/*=================================
Header
=================================*/

.navbar {
  position: absolute;
  top: 30px;
  z-index: 10;
  width: 80%;
}

.navbar-inverse {
  background-color: transparent;
  border-color: transparent;
}
.navbar-inverse .navbar-toggle {
  border: 0;
}

.navbar-inverse .navbar-nav>li>a {
  color: #fff;
  border-bottom: 5px solid;
  border-color: transparent;
  cursor: pointer;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
  background-color: transparent;
  border-color: #fcac45;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
  color: #fff;
  background-color: transparent;
}

/*=================================
Home
=================================*/
.home-section {
  padding-top: 40px;
  padding-bottom: 40px;
  overflow: hidden;
}

.meet-the-team {
  background-image: url("../images/meet-our-team-bg.jpg");
}
.meet-the-team img {
  margin-bottom: 20px;
}

.meet-the-team .thumbnail-padding {
  padding: 10% 0;
}

.meet-the-team .thumbnail {
  background-color: unset;
  border: unset;
}

.meet-the-team .thumbnail .caption {
  color: #fff;
  text-align: center;
}

.italicized_content {
  font-style: italic;
}

.our-services .thumbnail {
  border: 0;
  margin:0;
}

.our-services .glyphicon {
  font-size: 50px;
  padding: 20px;
  border: 5px solid #fcac45;
  border-radius: 50%;
}

@media (min-width: 1200px) {
  .our-services .col-lg-3 {
    margin-top: 40px;
  }
}

.our-clients {
  background-color: #0b0b0b;
}

.our-clients .slide-1 {
  margin: 75px auto;
}

.our-clients .slide-1 img {
  margin: 12px;
  max-height: 21px;
}

.our-work .img-grid>div {
  padding: 15px;
}
/*=================================
Footer
=================================*/
